DELETE_ACCOUNT_WEBHOOK_URL=URL_DO_WEBHOOK

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Apple IAP
APPLE_IAP_ISSUER_ID=
APPLE_IAP_KEY_ID=
APPLE_IAP_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
APPLE_BUNDLE_ID=br.com.wpssistemas.confiamais

# Google Play Billing
GOOGLE_PLAY_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PLAY_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
GOOGLE_PLAY_PACKAGE_NAME=br.com.wpssistemas.confiamais
GOOGLE_RTDM_FALLBACK_USER_ID=
GOOGLE_DEFAULT_PRODUCT_ID=br.com.wpssistemas.confiamais.premium.monthly
